<div class="container">

  <form class="form-signin" role="form" action="/login" method="post">
    <h2 class="form-signin-heading">Entrar - Manolos FC</h2>
    <input name="email" type="email" class="form-control" placeholder="E-mail" required autofocus>
    <input name="senha" type="password" class="form-control" placeholder="Senha" required>
    <label class="checkbox">
      <input type="checkbox" value="remember-me">Lembrar-me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  </form>

</div>